/*sobre mi*/

.container-sobre-mi {
    display: flex;    
    margin-top: 20px;    
    margin-bottom: 50px;    
}

.texto-sobre-mi {
    display: flex;    
    border-radius: 30px;
    border: 1px solid;
    border-color: rgb(33, 15, 68);    
    background-color: rgb(236, 244, 252);
    padding: 80px;
    margin-top: -40px;
    margin-left: 90px;
    margin-right: 90px;
    box-shadow: 0 18px 18px 0 rgba(13, 110, 253, 0.2), 0 16px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;    
}

.texto-sobre-mi h2 {
    color: rgb(0, 0, 0);    
}

.texto-sobre-mi p {
    font-size: 1.1rem;  
    text-align: justify;
    margin-top: 25px;
    margin-right: 10px;    
}

/* .datos-sobre-mi {
    width: 80%;
} */

/* .lapiz {
    width: 20%;
} */

.info-usuario {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;        
    color: rgb(37, 39, 44);   
}

/* .btn-edicion {
    width:50px;
    max-width:50px;
} */

.btn-edicion:hover {
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 50%; */
    /* width: 100%; */
}

/* .inTextSobreMi {
    width: 90%;
} */