<div class="container-sobre-mi">          
    
    <div class="info-usuario">
        <div>
            <p>{{miPortfolio.name}}</p>
            <p>{{miPortfolio.position}}</p>
        </div>
        <div>
            <button class="btn btn-edicion"><i class="fa-solid fa-pencil"></i></button>
        </div>
    </div>

    <div class="texto-sobre-mi">
        
        <div>
            <h2>Sobre mí</h2>
            <p>{{miPortfolio.about}}</p>
        </div>
        <div class="lapiz">
            <button class="btn"><i class="fa-solid fa-pencil"></i></button>
        </div>
        
    </div>

</div>