<div *ngFor="let dato of datosList" class="container-sobre-mi">

  <div class="info-usuario">
    <div>
      <p>{{dato.name}}</p>
      <p>{{dato.position}}</p>
    </div>
    <div>
      <button class="btn btn-edicion" data-bs-toggle="modal" data-bs-target="#infoUsuario"><i
          class="fa-solid fa-pencil"></i></button>
    </div>
  </div>

  <div class="texto-sobre-mi">
    <div>
      <h2>Sobre mí</h2>
      <p>{{dato.about}}</p>
    </div>
    <div class="lapiz">
      <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
          class="fa-solid fa-pencil"></i></button>
    </div>
  </div>

  <!-- Modal de Bootstrap Nombre y Posicion-->

  <div class="modal fade " id="infoUsuario" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoUsuarioLabel">Modificar "Nombre / Título"</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="descartarCambios()"></button>
        </div>
        <div class="modal-body" style="text-align: left; margin-bottom: 50px;">
          <label for="nombre"><b>Nombre</b></label>
          <input class="form-control" type="text" placeholder="Default input" aria-label="default input example"
            style="margin-bottom: 20px" [(ngModel)]="dato.name">
          <label for="nombre"><b>Título</b></label>
          <input class="form-control" type="text" placeholder="Default input" aria-label="default input example"
            [(ngModel)]="dato.position">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="descartarCambios()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="guardarCambios(dato)">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Bootstrap SOBRE MI-->

  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modificar sección "Sobre mí"</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            (click)="descartarCambios()">
          </button>
        </div>
        <div class="modal-body" style="text-align: center">
          <textarea cols="120" rows="10" style="max-width:100%;" [(ngModel)]="dato.about"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="descartarCambios()">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="guardarCambios(dato)">Guardar</button>
        </div>
      </div>
    </div>
  </div>
</div>