/*sobre mi*/

.container-sobre-mi {
    display: flex;    
    margin-top: 80px;    
    margin-bottom: 50px;    
}

.texto-sobre-mi {
    display: flex;
    text-align: justify;
    border-radius: 8px;    
    background-color: rgb(243, 243, 243);
    padding: 50px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 4px 8px 0 rgba(13, 110, 253, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}

.texto-sobre-mi h2 {
    color: rgb(13, 1, 122);    
}

.info-usuario {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;    
    color: rgb(37, 39, 44);   
}

.lapiz {
    font-size: 18px;
    padding-left: 10px;
}

.lapiz:hover {
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.btn-edicion:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50%;
}