/* Logo Arg-prog + redes-sociales + Btn de accesso */

.flex-container {
    display:flex;    
    background-color: #0d6efd;
    border-bottom: 1px solid #ffffff;
    align-items:center;
    justify-content: space-between;    
}

.icons {
    color: #fff;
    font-size: 30px;    
    margin-left: 15px;
    margin-top: 3px;
}

.icons:hover {
    color: rgb(236, 232, 179);
}

.logoArgProg img{
    width: 150px;    
}

#textoAP {
    font-size: 16px;
    color:white;
    text-align: left;
}

.redes-acceso {
    display:flex;
}

.boton-acceso {    
    justify-content: right; 
    margin-right: 20px;
    margin-left: 50px;
}

/* header */

.imagenUsuario {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    width: 13%;
    margin-left: -98.5%;
    margin-top: 28%;
    border-radius: 50%;
    border: 2px solid rgb(8, 99, 235);
}

.imagenPortada {
    position: relative;
    z-index: 1;    
    width: 100%;
}

/* Boton de edicion portada */

.container-portada {
    position: relative;
}

.btn-portada {
    position: absolute;
    z-index: 2;
    top: 3em;    
    right: 4em;
    color: rgb(255, 255, 255);
    font-size:1.5vw;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;    
}

.btn-portada:hover {   
    color: rgb(43, 230, 74);
    border: 4px solid rgb(36, 231, 62);
    border-radius: 50%;
}

.btn-usuario {
    position: absolute;
    z-index: 2;
    top: 22em;
    left: 8.5em;
    color: rgb(0, 0, 0);
    font-size:1.5vw;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;    
}

.btn-usuario:hover {
    color: rgb(39, 136, 10);
    border: 4px solid rgb(36, 121, 231);
    border-radius: 50%;
}