<div class="flex-container">
    <!--Logo - Redes sociales - Boton de acceso-->

    <nav class="logoArgProg">
        <div>
        <img src="../assets/Img/APLogo-20-20-200px.png" alt="">
        <span id="textoAP">- #Yo Programo</span>
        </div>
    </nav>
    
    <div class="espacio">
        <!-- Solo un espacio vacio -->
    </div>

    
    <div class="redes-acceso">
        <div class="redes-sociales">
            <a href="#"><i class="fa-brands fa-facebook icons"></i></a>
            <a href="#"><i class="fa-solid fa-envelope icons"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin icons"></i></a>            
        </div>
        <div class="boton-acceso">
        <button type="button" class="btn btn-warning">Acceder</button>
        </div>
    </div>

</div>

<!--imagen de portada + imagen de usuario superpuesta-->
<div class="container-portada">
    
    
    <img class="img-fluid imagenPortada" [src]="miPortfolio.backImage" alt="">
    
    <button class="btn btn-portada"><i class="fa-solid fa-pencil"></i></button>
    
    
    <img class="img-fluid imagenUsuario" [src]="miPortfolio.image">
    
    <button class="btn btn-usuario"><i class="fa-solid fa-pencil"></i></button>

   

</div>
