/* Logo Arg-prog + redes-sociales + Btn de accesso */

.flex-container {
    display:flex;
    height: 90px;
    background-color: rgb(28, 116, 248);
    align-items:center;    
    margin-bottom:1px;
    justify-content: space-between;    
}

body {
    margin: 0px;
}


.logoArgProg img{
    width: 160px;    
}

#textoAP {
    font-size: 16px;
    color:white;

}

.redes-sociales {
    margin-left:auto;

}

.redes-sociales img {
    width: 32px;
    
}
.boton-acceso {
    justify-content: right; 
    margin-right: 20px;
    margin-left: 50px;
}


/* header */

.imagenUsuario {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    width: 13%;
    margin-left: -95%;
    margin-top: 32%;
    border-radius: 50%;
    border: 2px solid rgb(188, 207, 21);
}

.imagenPortada {
    position: relative;
    
    z-index: 1;  
}