/* Logo Arg-prog + redes-sociales + Btn de accesso */

.flex-container {
    display:flex;
    height: 90px;
    background-color: #0d6efd;
    align-items:center;    
    margin-bottom:5px;
    justify-content: space-between;    
}

body {
    margin: 0px;
    
}


.logoArgProg img{
    width: 160px;    
}

#textoAP {
    font-size: 16px;
    color:white;

}

.redes-sociales {
    margin-left:auto;

}

.redes-sociales img {
    width: 32px;
    
}
.boton-acceso {
    justify-content: right; 
    margin-right: 20px;
    margin-left: 50px;
}


/* header */

.imagenUsuario {
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    width: 13%;
    margin-left: -92%;
    margin-top: 28%;
    border-radius: 50%;
    border: 2px solid rgb(188, 207, 21);
}

.imagenPortada {
    position: relative;
    z-index: 1;
    border-radius: 8px;
   
}

.lapiz {
    position: absolute;
    z-index: 2;
    
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
    /* color: rgb(235, 157, 39);
    font-size: 10px;
    
    margin-left: 93%;
    margin-top: 10%;
    border: 2px solid rgb(235, 157, 39);
    border-radius: 50%; */
    
    
}