.proyectos {
    display: flex;
    flex-wrap: column;
    justify-content: space-around;
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 100px;
}

.card {
    margin-bottom: 30px !important;
    /* border: 1px solid; */
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
}

.card-img-top {
    /* border-radius: 5px !important; */ 
    /* width: 80%;
    height:auto;
    margin: 0 auto;     */
}