.proyectos {    
    margin-top: 80px;
}

.titulo-seccion {
    text-align: center;    
    margin-bottom: 60px;
    margin-top: 5px;    
}

.btn-agregar {
    text-align: center;    
}

.botones {
    text-align: right;
    margin-bottom: 10px;
}

.btn-eliminar:hover {
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
}

.btn-edicion:hover {
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
}   

.card {
    margin: 5px !important;
    margin-bottom: 70px !important;    
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 40px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {    
    box-shadow: 0px 8px 10px 5px rgba(65, 155, 240, 0.2), 0 10px 10px 0 rgba(37, 88, 133, 0.19);    
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none !important;
    padding-left: 0px;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}