<header>

  <div class="flex-container"> <!--Logo - Redes sociales - Boton de acceso-->        

      <div class="logoArgProg">
          <img src="../assets/Img/APLogo-20-20-200px.png" alt="">
      </div>
      <div>
          <h6 id="textoAP">- #Yo Programo</h6>
      </div>

      <div class="redes-sociales">
          <a href="#"><img src="../assets/Img/logo_facebook.png"></a>
          <a href="#"><img src="../assets/Img/logo_email.png"></a>
          <a href="#"><img src="../assets/Img/logo_linkedin.png"></a>
      </div>

      <div class="boton-acceso">
          <button type="button" class="btn btn-warning">Acceder</button>
      </div>

  </div>

  
  <div class="container-header"> <!--imagen de portada + imagen de usuario superpuesta (Fluid de bootstrap)-->
                      
          
              <img class="img-fluid imagenPortada" src="../assets/Img/portada_1920x750.jpg">
              <img class="img-fluid imagenUsuario" src="../assets/Img/imagen_usuario.jpg">
              
          
       

  
  </div>

  
</header>

<section class="sobre-mi">

  <div class="container-sobre-mi">
      <div id="info-usuario">
          <p>Andrés Turano</p>
          <p>Full Stack Developer Jr.</p>
      </div>
  
      <div class="texto-sobre-mi">
          <h2>Sobre mí</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit deserunt aliquam dignissimos at suscipit quas, incidunt soluta repudiandae ex, aspernatur veritatis voluptatibus impedit fugit omnis saepe in accusamus facilis? Reiciendis!</p>
      </div>

  </div>

</section>


<section class="experiencia">

  <h2 class="titulos-secciones">Experiencia</h2>

  
  <div class="seccion-box">

    <ul>
  
      <li>
      <div>

          <img src="../assets/Img/Jobs.png" alt="">

      </div>

      <div class="informacion">
          
          <h4 class="nombre-empresa">Nombre de empresa<span class="fechas-trabajos">periodo de trabajo</span></h4>
          
          <h5 class="puesto">Puesto</h5>
          
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime libero eius.</p>
      </div>
      </li>

    </ul>

  </div>

</section>

<section class="educacion">

  <h2 class="titulos-secciones">Educación</h2>

  <div class="seccion-box">
  
      <div>

          <img src="./img/Jobs.png" alt="">

      </div>

      <div class="informacion">
          <h4 class="nombre-escuela">Nombre de Escuela<span class="fechas-educacion">periodo de trabajo</span></h4>
          
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime libero eius.</p>
      </div>

  </div>

</section>


<section class="skills">


</section>

<section class="proyectos">


</section>

<footer class="footer">


</footer>