<h2 class="titulos-secciones">Educación</h2>

<div class="seccion-box">

    <div>

        <img src="./img/Jobs.png" alt="">

    </div>

    <div class="informacion">
        <h4 class="nombre-escuela">Nombre de Escuela<span class="fechas-educacion">periodo de trabajo</span></h4>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate
            maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime
            libero eius.</p>
    </div>

</div>