<div class="educacion">
    <div>
        <h2 class="titulos-secciones">Educación</h2>

        <div class="btn-agregar">
            <button type="button" class="btn btn-primary ">Añadir</button>
        </div>
    
    </div>

    <ul class="list-item">
        <li *ngFor="let education of educationList">
            <div class="seccion-box">

            
            
                <div>

                    <img [src]="education.image" alt="">

                </div>

                <div class="informacion">
                    
                    <h4>{{education.name}}</h4>
                    
                    <h5>{{education.title}}</h5>
                    
                    <p>{{education.description}}</p>
                </div>

                <button class="btn btn-edicion"><i class="fa-solid fa-pencil"></i></button>
                <button class="btn btn-eliminar"><i class="fa-solid fa-trash"></i></button>

            </div>
        </li>
    </ul>
    

</div>