<!-- <h2 class="titulos-secciones">Educación</h2>

<div class="seccion-box">

    <div>

        <img src="./img/Jobs.png" alt="">

    </div>

    <div class="informacion">
        <h4 class="nombre-escuela">Nombre de Escuela<span class="fechas-educacion">periodo de trabajo</span></h4>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate
            maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime
            libero eius.</p>
    </div>

</div> -->

<div class="educacion">
    <div>
        <h2 class="titulos-secciones">Educación</h2>

        <div class="btn-agregar">
            <button type="button" class="btn btn-primary ">Añadir</button>
        </div>
    
    </div>


    <div class="seccion-box">

    
    
        <div>

            <img src="../../../assets/Img/educacion-logo.png" alt="">

        </div>

        <div class="informacion">
            
            <h4 class="nombre-empresa">Nombre de escuela</h4>
            
            <h5 class="puesto">Título</h5>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime libero eius.</p>
        </div>

        <button type="button" class="btn btn-primary btn-eliminar">X</button>
        <button type="button" class="btn btn-primary btn-edicion">I</button>

    </div>

    <div class="seccion-box">

    
    
        <div>

            <img src="../../../assets/Img/educacion-logo.png" alt="">

        </div>

        <div class="informacion">
            
            <h4 class="nombre-empresa">Nombre de Escuela</h4>
            
            <h5 class="puesto">Título</h5>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime libero eius.</p>
        </div>

        <button type="button" class="btn btn-primary btn-eliminar">X</button>
        <button type="button" class="btn btn-primary btn-edicion">I</button>

    </div>

</div>