.educacion {
    display:column;
    border: 1px solid rgb(185, 184, 184);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 100px 35px;
    
}

.btn-agregar {
    text-align: right;
    margin-top: 10px;
    margin-right: 50px;     
}

.btn-edicion {
   align-self: flex-start;    
   background-color: rgb(255, 255, 255);
   /* color: rgb(46, 43, 211); */
   
   font-size: 20px;  
}

.btn-eliminar:hover {
   
    
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
  }

.btn-edicion:hover {
    
    
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
  }   

.btn-eliminar {
   align-self: flex-start;
   margin-left: 2px;
   background-color: rgb(255, 255, 255);
   /* color: rgb(226, 19, 19); */
   
   font-size: 20px;
}

.titulos-secciones {
    text-align: center;
    margin-top: 30px;
}

.list-item {
    list-style-type: none;
    padding-left: 0px;
}

.seccion-box {
    display: flex;
    flex-wrap: column;
    align-items: center;
    border: 1px solid;
    border-radius: 13px;
    padding: 40px;
    margin: 3%;
}

.seccion-box img { /*logo de empresa-escuela*/
    width: 130px;
    margin: 0 auto; 
    border-radius: 8px;  
}

.seccion-box p,h4,h5 { /*parrafos de descripcion*/
    width: 90%;
    /* border: 1px solid rgb(223, 0, 0); */
    padding: 10px;
    margin: 0 auto;
    /*text-align: center;*/
    text-align: justify; 
    color: rgb(0, 0, 0);   
}

.seccion-box span {
    float: right;
    text-align: right;
    margin-top: 0px;
}

/* .informacion {
    border: 1px solid;
    
} */
