.titulo-seccion {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;    
}

.btn-agregar {
    text-align: center;
}

.skills {    
    margin: 40px;
    margin-bottom: 130px;   
}

.skill {
    padding: 10px;
    margin: 40px;
}

.skill,h4 {
    text-align: center;
    font-size: 1.4em;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
}

.botones {
    text-align: center;
    margin-bottom: 10px;
}