.titulo-seccion {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
    
}

.skills {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin: 80px;   
}

.skill {
    padding: 70px;
}