<div class="row d-flex justify-content-center mt-100">

    <div class="col-md-6">         

        <div class="progress html5">
          <span class="progress-left">
                            <span class="progress-bar"></span>
          </span>
          <span class="progress-right">
                            <span class="progress-bar"></span>
          </span>
          <div class="progress-value"><img src="../../../assets/Img/logo-html5.png" class="logos-skills"></div>
        </div>


        <div class="progress css3">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><img src="../../../assets/Img/logo-css3a.png" class="logos-skills"></div>
          </div>


          <div class="progress js">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><img src="../../../assets/Img/logo-js.png" class="logos-skills"></div>
          </div>


          <div class="progress ts">
            <span class="progress-left">
                              <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                              <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><img src="../../../assets/Img/logo-ts.png" class="logos-skills"></div>
          </div>

        
          <div class="progress angular">
            <span class="progress-left">
                            <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                            <span class="progress-bar"></span>
            </span>
            <div class="progress-value"><img src="../../../assets/Img/logo-angular.png" class="logos-skills"></div>
          </div>
        
    
       
    </div>
    
   
</div>