<div class="titulo-seccion">
    <h1>Hard & Soft Skills</h1>

<div>
    
    <div class="skills">

        <div class="skill">
            <circle-progress
                [percent]="32"
                [radius]="100"
                [outerStrokeWidth]="19"
                [innerStrokeWidth]="90"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="900"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'../assets/Img/logo-html5.png'"
                [imageWidth]="70"
                [imageHeight]="70"
                [outerStrokeLinecap]="'none'"
                [space]="2"
            >
            </circle-progress>
        </div>

        <div class="skill">
            <circle-progress
                [percent]="25"
                [radius]="100"
                [outerStrokeWidth]="19"
                [innerStrokeWidth]="90"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="900"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'../assets/Img/logo-css3a.png'"
                [imageWidth]="73"
                [imageHeight]="73"
                [outerStrokeLinecap]="'none'"
                [space]="2"
            >
            </circle-progress>
        </div>

        <div class="skill">
            <circle-progress
                [percent]="20"
                [radius]="100"
                [outerStrokeWidth]="19"
                [innerStrokeWidth]="90"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="900"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'../assets/Img/logo-js.png'"
                [imageWidth]="73"
                [imageHeight]="73"
                [outerStrokeLinecap]="'none'"
                [space]="2"
            >
            </circle-progress>
        </div>

        <div class="skill">
            <circle-progress
                [percent]="36"
                [radius]="100"
                [outerStrokeWidth]="19"
                [innerStrokeWidth]="90"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="900"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'../assets/Img/logo-bootstrap.png'"
                [imageWidth]="73"
                [imageHeight]="73"
                [outerStrokeLinecap]="'none'"
                [space]="2"
            >
            </circle-progress>
        </div>

        

        <div class="skill">
            <circle-progress
                [percent]="30"
                [radius]="100"
                [outerStrokeWidth]="19"
                [innerStrokeWidth]="90"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="900"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'../assets/Img/logo-angular.png'"
                [imageWidth]="65"
                [imageHeight]="75"
                [outerStrokeLinecap]="'none'"
                [space]="2"
            >
            </circle-progress>
        </div>

        <div class="skill">
            <circle-progress
                [percent]="20"
                [radius]="100"
                [outerStrokeWidth]="19"
                [innerStrokeWidth]="90"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'black'"
                [animation]="true"
                [animationDuration]="900"
                [showTitle]="false"
                [showSubtitle]="false"
                [showUnits]="false"
                [showImage]="true"
                [imageSrc]="'../assets/Img/logo-ts.png'"
                [imageWidth]="65"
                [imageHeight]="75"
                [outerStrokeLinecap]="'none'"
                [space]="2"
                
                
            
            >
            </circle-progress>
        </div>

    </div>

    

</div>