.titulo-seccion {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;    
}

.btn-agregar {
    text-align: center;
    margin-bottom: 80px;
}

.skills {    
    margin: 40px;
    margin-bottom: 130px;   
}

.skill {
    padding: 10px;
    margin: 10px;
    margin-bottom: 80px;
}

.skill,h4 {
    text-align: center;
    font-size: 1.4em;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding-left: 0px;
}

.botones {    
    text-align: center;    
    margin-bottom: 10px;
}



.btn-eliminar:hover {
    color: rgb(177, 6, 6);
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
}

.btn-edicion:hover {
    color: rgb(57, 172, 23);
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
}