
@media screen and (max-width: 600px) {
    /* .flex-container {
        flex-direction: column;
        /* height: 185px; 
    } */
    .flex-container {
    display:column;
    height: 190px;
    /* background-color: rgb(28, 116, 248); */
    /* align-items:center;     */
    /* margin-bottom:1px; */
    /* justify-content: center; */
    
}
    
    /* .redes-sociales img {
        width: 22px;
    } */

    /* .boton-acceso {
        margin-left: 22px;
    } */
    
    /* .logoArgProg img{
        width: 110px;

    } */
    /* #textoAP {
        font-size: 10px;        
    } */

    /* .redes-sociales {
        margin-left: 0px;    
    } */

    /* .imagenPortada {
        filter: blur(2px);
    } */
    
    /* .imagenUsuario {
        position: absolute;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        
    } */
    
    .container-sobre-mi {
        flex-direction: column;
        /* justify-content: flex-start; */
        /* z-index: 1; */
    }

    #info-usuario {
        font-size: 25px;
        font-weight: bold;        
        /* width: 100%;     */
        color: rgb(37, 39, 44);
        /* text-shadow: 1px 1px 2px rgb(130, 131, 60); */
        margin-left: 150px;
        
        
    }

    .texto-sobre-mi {
        /*width: 70%;*/
        /*text-align: justify;*/
        /* text-align: center; */
        /* padding: 10px;
        margin: 0px; */
        /* border: none; */
        /* border-radius: 0px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        box-shadow: none; */
        /*border: 1px solid;*/
        /*margin: 50px;*/
        margin-top: 30px;
        
        
    }
    
    

    /* .titulos-secciones {
        text-align: center;
        margin-top: 0px;
    } */

    .botones {
        
        margin-left: 109px;
        
        margin-top: 30px;
    }

    .titulos-secciones {
        text-align: center;
        margin-bottom: 40px;
    }

    .btn-agregar {
        margin-bottom: 30px;
            
    }

    .seccion-box {
        flex-direction: column;
    }

    /* .skill {
        padding: 1px;
    }

    .skills {
        margin-bottom: 10px;
    } */

    
    
}