
    <div class="experiencia">
        <div>
            <h2 class="titulos-secciones">Experiencia</h2>

            <div class="btn-agregar">
                <button type="button" class="btn btn-primary ">Añadir</button>
            </div>
        
        </div>
    
        <ul class="list-item">
            <li *ngFor = "let experience of experienceList">
                <div class="seccion-box">

                
                
                    <div>

                        <img [src]="experience.image" alt="">

                    </div>

                    <div class="inbox">
                        
                        
                        <h4>{{experience.name}} / {{experience.period}}</h4>
                        <h5>{{experience.position}}</h5>
                        
                        <p>{{experience.tasks}}</p>
                    </div>

                    <div class="botones">        
                    <button class="btn btn-edicion" data-bs-toggle="modal" data-bs-target="#Modal"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn btn-eliminar" (click)="borrarItem(experience)"><i class="fa-solid fa-trash"></i></button>
                    </div>

                

                </div>
            </li>

            
        </ul>
        <!-- Modal -->
        <div class="modal fade " id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                
            </div>
            </div>
        </div>
    </div>