
    <div class="experiencia">
        <div>
            <h2 class="titulos-secciones">Experiencia</h2>

            <div class="btn-agregar">
                <button type="button" class="btn btn-primary ">Añadir</button>
            </div>
        
        </div>
    

        <div class="seccion-box">

        
        
            <div>

                <img src="../../../assets/Img/Jobs.png" alt="">

            </div>

            <div class="informacion">
                
                <h4 class="nombre-empresa">Nombre de empresa<span class="fechas-trabajos">periodo de trabajo</span></h4>
                
                <h5 class="puesto">Puesto</h5>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime libero eius.</p>
            </div>
            
            <button class="btn btn-edicion"><i class="fa-solid fa-pencil"></i></button>
            <button class="btn btn-eliminar"><i class="fa-solid fa-trash"></i></button>

        </div>

        <div class="seccion-box">

        
        
            <div>

                <img src="../../../assets/Img/Jobs.png" alt="">

            </div>

            <div class="informacion">
                
                <h4 class="nombre-empresa">Nombre de empresa<span class="fechas-trabajos">periodo de trabajo</span></h4>
                
                <h5 class="puesto">Puesto</h5>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae voluptates hic voluptatibus quia cupiditate maxime suscipit labore dolorem. Asperiores unde cumque nam ad ullam, explicabo veniam praesentium maxime libero eius.</p>
            </div>

            <button class="btn btn-edicion"><i class="fa-solid fa-pencil"></i></button>
            <button class="btn btn-eliminar"><i class="fa-solid fa-trash"></i></button>

        </div>

    </div>