
    <div class="experiencia">
        <div>
            <h2 class="titulos-secciones">Experiencia</h2>

            <div class="btn-agregar">
                <button type="button" class="btn btn-primary ">Añadir</button>
            </div>
        
        </div>
    
        <div class="list-item" *ngFor = "let experience of experienceList">
            
                <div class="seccion-box">

                
                
                    <div>

                        <img [src]="experience.image" alt="">

                    </div>

                    <div class="inbox">
                        
                        
                        <h4>{{experience.name}} / {{experience.period}}</h4>
                        <h5>{{experience.position}}</h5>
                        
                        <p>{{experience.tasks}}</p>
                    </div>

                    <div class="botones">        
                    <button class="btn btn-edicion" data-bs-toggle="modal" data-bs-target="#edicion" (click)="itemAModificar(experience)"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn btn-eliminar" data-bs-toggle="modal" data-bs-target="#eliminar"><i class="fa-solid fa-trash"></i></button>
                    </div>

                

                </div>

                <!-- Modal de Bootstrap confirmacion de eliminacion-->
        <div class="modal fade " id="eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <!-- <div class="modal-header"> -->
                  <!-- <h5 class="modal-title" id="exampleModalLabel" style="text-align: center">Eliminar item</h5> -->
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                <!-- </div> -->
                <div class="modal-body" style="text-align: center">
                    
        
                    <p><b>Esta seguro de eliminar este item ?</b></p>
                
                    
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="borrarItem(experience)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>


          <!-- Modal de Bootstrap Edicion -->


          <div class="modal fade " id="edicion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modificar sección Experiencia</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="descartarCambios()"></button>
                </div>
                <div class="modal-body">
                    
               
                <label for="nombre" style="margin-bottom: 10px"><b>Nombre:</b></label>  
                <input id="nombre" class="form-control" type="text" placeholder="Nombre de la Empresa" aria-label="default input example" style="margin-bottom: 30px" [(ngModel)]="name">
                <label for="perido" style="margin-bottom: 10px"><b>Periodo de trabajo:</b></label>
                <input class="form-control" type="text" placeholder="Perido de trabajo" aria-label="default input example" style="margin-bottom: 30px" [(ngModel)]="period">
                <label for="posicion" style="margin-bottom: 10px"><b>Posicion:</b></label>  
                <input class="form-control" type="text" placeholder="Posicion/cargo" aria-label="default input example" style="margin-bottom: 30px" [(ngModel)]="position">
                <label for="tareas" style="margin-bottom: 10px"><b>Tareas realizadas:</b></label>
                <input class="form-control" type="text" placeholder="Tareas realizadas" aria-label="default input example" style="margin-bottom: 30px" [(ngModel)]="tasks">
                <label for="basic-url" class="form-label"></label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">URL de imagen</span>
                    <input type="url" class="form-control" id="basic-url" aria-describedby="basic-addon3" [(ngModel)]="image">
                </div>
                

                
                    
                </div>
                <div class="modal-footer" >
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="descartarCambios()">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="guardarCambios()">Guardar</button>
                </div>
              </div>
            </div>
          </div>

            
        
            
        </div>
        
    </div>