.experiencia {
    display:column;    
    border: 1px solid rgb(185, 184, 184);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 100px 35px;
}

.btn-agregar {
     text-align: right;
     margin-top: 10px;
     margin-right: 50px;     
}


.btn-eliminar {    
    margin-left: 10px;    
}

.botones {
    display: flex;
    align-self: flex-start;
    font-size: 18px;
}

.btn-edicion, .btn-eliminar{
    /* display: flex;
    align-self: flex-start; */
    
    /* background-color: rgb(255, 255, 255); */
}

.btn-eliminar:hover {
   
    
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
  }

.btn-edicion:hover {
    
    
    border: 1px solid rgb(17, 90, 201);
    border-radius: 10%;
  }   

.titulos-secciones {
    text-align: center;
    margin-top: 70px;
}

.list-item {
    list-style-type: none;
    padding-left: 0px;
    
}

.seccion-box {
    display: flex;
    flex-wrap: column;
    align-items: center;
    border: 1px solid;
    border-radius: 13px;
    padding: 40px;
    margin: 3%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.seccion-box img { /*logo de empresa-escuela*/
    width: 100px;
    height: auto;
    margin: 0 auto; 
    border-radius: 8px;
    border: 2px solid;
}

.seccion-box p,h4,h5 { /*parrafos de descripcion*/
    width: 80%;
    /* border: 1px solid rgb(223, 0, 0); */
    padding: 10px;
    margin: 0 auto;
    /*text-align: center;*/
    text-align: justify; 
    color: rgb(0, 0, 0);   
}




